<article class="post">
  <div class="image">
    <img src="{{post_img}}"></img>
  </div>
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
    <div class="description"><p>{{post_description}}</p></div>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "like" vote_count}} by <b>{{user.username}}</b> on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
 
</article>